/* Global */
@import "global/normalize.css";
@import "global/fonts.css";

/* Components */
@import "components/grid.css";

/* Layout */
@import "layout/header.css";
@import "layout/sidenav.css";
@import "layout/anuncio.css";
@import "layout/footer.css";

/* Pages */
/* Lobo */
@import "pages/lobo/lobo.css";
